.Login {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;

    input {
      padding: 0.5rem 0;
      border: none;
      border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);
      background-color: transparent;
      outline: none;
      color: white;
    }

    .btn {
      margin-top: 1rem;
      padding: 0.75rem 0;
      border-radius: 1.1rem;
      background-color: #1da1f2;
      border: none;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
