.NewTweet {
  padding: 2rem 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
      }

      input {
        flex-grow: 1;
        padding: 1rem 0;
        background-color: transparent;
        color: white;
        font-size: large;
        border: none;
        border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);
        outline-style: none;
      }
    }

    .second-line {
      padding: 0 0.8rem;
      margin-left: 75px;
      display: flex;
      justify-content: space-between;

      .icons {
        color: #1da1f2;
        display: flex;
        cursor: pointer;
        gap: 0.2rem;

        .gif {
          font-size: 1.2rem;
        }
      }

      .btn {
        flex-grow: 0;
        width: 100px;
        padding: 0.7rem 0.9rem;
        border: none;
        border-radius: 50px;
        background-color: #1da1f2;
        color: white;
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {
  .NewTweet form .second-line .icons {
    font-size: 1.4rem;
    gap: 0.8rem;

    .gif {
      font-size: 1.6rem;
    }
  }
}
