.ModalBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.8rem;
  border: none;
  color: white;
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
